<div class="footer flex-hr" style="flex-wrap: wrap;">
    <ul>Made with NodeJS
        <li><a href="https://github.com/louischatriot/nedb" target="_blank">NeDB (MongoDB subset)</a></li>
        <li><a href="https://github.com/expressjs/express" target="_blank">Express</a></li>
        <li><a href="https://github.com/mde/ejs" target="_blank">EJS</a></li>
        <li><a href="https://jquery.com/" target="_blank">JQuery</a></li>
        <li><a href="https://fontawesome.com/" target="_blank">FontAwesome</a></li>
    </ul>
    <ul>Made by Luiz Felipe Moureau
        <li><a href="http://github.com/mococa" target="_blank">Github</a></li>
        <li><a href="http://twitter.com/luizmoureau" target="_blank">Twitter</a></li>
    </ul>
    <div style="flex-flow: row;flex: 1;flex-wrap: wrap;    row-gap: 20px;">
        <ul style="flex:1"> Time to build
            <li>Planning in around 30min</li>
            <li>Backend in around 3h (Got stuck in a silly mistake)</li>
            <li>Frontend in around 4h30</li>
        </ul>
        <a href="http://github.com/mococa" title="My GitHub Profile" target="_blank" style="display: flex;position:relative;bottom: 16px;">
            <img src="../src/github.png" height="120px" alt="""></a>
    </div>
</div>