
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
<div class="header flex-vr" style="gap:5px">
    <span> <a href="/">YOUMMY</a></span>
    <span style="
    font-size: 13px;
    
">Anonymous recipes sharing</span>
</div>
<script>$.ajaxSetup({ contentType: "application/json; charset=utf-8" });</script>