<div class="header">
    <span> <a href="/">YOUMY</a></span>
    
</div>
<style>
    .header{
        color:#ededed;
        padding:5px 20px;
        background-color: tomato;
        font-size: 20px;
    }
    .header span a{
        color:#ededed
    }

</style>