
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="header">
    <span> <a href="/">YOUMMY</a></span>
    
</div>
<style>
    .header{
        color:#ededed;
        padding:5px 20px;
        background-color: tomato;
        font-size: 20px;
    }
    .header span a{
        color:#ededed
    }

</style>